@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
}
